{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
    <h1>Flask Text E-repository</h1>
    <form action="/result" method="post">
        <input type="text" name="text" placeholder="Enter your text" required>
        <button type="submit">Submit</button>
    </form>
    
    <form action="/initial" method="post" style="display: inline;">
        <input type="hidden" name="_method" value="post">
        <button type="submit" class="initial-button">Initial</button>
    </form>
</div>
{% endblock %}
